<div class="computer-grid">
    <div value="" class="head_name">
  </div>
  <h1 class="heading">Computers</h1>
  <div class="tiles">
    {{#each this.computers as |computer|}}
      <div class="tile">
        <a href="#" {{on "click" (fn this.showComputerDetails computer.id)}}><img src="../asset/desktop.png" alt="Home" class="groups_icon" /><br> {{computer.computer_name}}</a>
        <p></p>
      </div>
    {{else}}
      <p>No computers found.</p>
    {{/each}}
  </div>
  {{#if this.selectedComputer}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" {{on "click" this.closePopup}}>X</button>
        <p>
            <strong>Computer Name:</strong>
            {{#if this.selectedComputer.computer_name}}
               <i>{{this.selectedComputer.computer_name}}</i>
            {{else}}
               <i>No Computer Name found</i>
            {{/if}}
        </p>
         {{!-- <p>
            <strong>Computer Location:</strong>
            {{#if this.selectedComputer.computer_location}}
               <i>{{this.selectedComputer.computer_location}}</i>
            {{else}}
              <i>No Computer Location found</i>
            {{/if}}
        </p> --}}
         <p>
            <strong>Description:</strong>
            {{#if this.selectedComputer.description}}
               <i>{{this.selectedComputer.description}}</i> 
            {{else}}
               <i>No Description found</i>
            {{/if}}
          </p>
      </div>
    </div>
  {{/if}}
</div>
