<div class="group-grid">
  <h1 class="heading">Deleted Objects</h1>
  <div class="tiles">
    {{#each this.deletedObjects as |deletedObject|}}
      <div class="tile">
        <a href="#" {{on "click" (fn this.showDeletedObjectsDetails deletedObject.id)}}>
          
          {{#if (eq deletedObject.type "user")}}
            <img src="../asset/user.png" alt="User Icon" class="user_icon u_icon" />
          {{else if (eq deletedObject.type "group")}}
            <img src="../asset/group.png" alt="Group Icon" class="ou_icon o_icon" />
          {{else if (eq deletedObject.type "computer")}}
            <img src="../asset/desktop.png" alt="Computer Icon" class="groups_icon" />
          {{else if (eq deletedObject.type "organizationalUnit")}}
            <img src="../asset/ou.png" alt="Organisational Unit Icon" class="ou_icon o_icon" />
          {{/if}}
          
          <br>{{deletedObject.name}}
        </a>
      </div>
    {{else}}
      <h3 class="not_found">No groups found</h3>
      <img src="../asset/empty.png" alt="Home" class="empty" />
    {{/each}}
  </div>

  {{#if this.selectedDeletedObject}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" type="button" {{on "click" this.closePopup}}>X</button>
        <p>
          <strong>Name:</strong>
          {{#if this.selectedDeletedObject.name}}
            <i>{{this.selectedDeletedObject.name}}</i>
          {{else}}
            <i>Ram kumar</i>
          {{/if}}
        </p>

        <p>
          <strong>Description:</strong>
          {{#if this.selectedDeletedObject.description}}
            <i>{{this.selectedDeletedObject.description}}</i>
          {{else}}
            <i>Hi hellooooo</i>
          {{/if}}
        </p>
      </div>
    </div>
  {{/if}}
</div>
