<div class="group-grid">
  <div value="" class="head_name">
  </div>
  <h1 class="heading ">Groups</h1>
  <div class="tiles">
    {{#each this.groups as |group|}}
      <div class="tile">
        <a href="#" {{on "click" (fn this.showGroupDetails group.id)}}><img src="../asset/group.png" alt="Home" class="ou_icon o_icon" /><br>{{group.name}}</a>
      </div>
    {{else}}
      <h3 class="not_found">No groups found</h3>
      <img src="../asset/empty.png" alt="Home" class="empty" />
    {{/each}}
  </div>
  {{#if this.selectedGroup}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" type="button" {{on "click" this.closePopup}}>X</button>
        <p>
          <strong>Group Name:</strong>
          {{#if this.selectedGroup.name}}
            <i>{{this.selectedGroup.name}}</i>
          {{else}}
            <i>No Group Name found</i>
          {{/if}}
        </p>
        <p>
          <strong>Description:</strong>
          {{#if this.selectedGroup.description}}
            <i>{{this.selectedGroup.description}}</i>
          {{else}}
            <i>No Description found</i>
          {{/if}}
        </p>
      </div>
    </div>
  {{/if}}
</div>
