<div class="ou-grid">
    <div value="" class="head_name">
  </div>
  <h1 class="heading">Organizational Units</h1>
  <div class="tiles">
    {{#each this.ous as |ou|}}
      <div class="tile">
        <a href="#" {{on "click" (fn this.showOUDetails ou.id)}}><img src="../asset/ou.png" alt="Home" class="ou_icon o_icon" /><br>{{ou.name}}</a>
      </div>
    {{else}}
      <h3 class="not_found">No OU's found</h3>
      <img src="../asset/empty.png" alt="Home" class="empty" />
    {{/each}}
  </div>
  {{#if this.selectedOU}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" type="button" {{on "click" this.closePopup}}>X</button>
        <p>
          <strong>OU Name:</strong>
          {{#if this.selectedOU.name}}
            <i>{{this.selectedOU.name}}</i>
          {{else}}
            <i>No OU Name found</i>
          {{/if}}
        </p>
        <p>
          <strong>Description:</strong>
          {{#if this.selectedOU.description}}
            <i>{{this.selectedOU.description}}</i>
          {{else}}
            <i>No Description found</i>
          {{/if}}
        </p>
      </div>
    </div>
  {{/if}}
</div>
