<div class="user-grid">
  <h1 class="heading">Users</h1>
  <div class="tiles">
    {{#each this.users as |user|}}
      <div class="tile">
        <a href="#" {{on "click" (fn this.showUserDetails user.id)}}>{{user.first_name}}</a>
        <p></p>
      </div>
    {{else}}
      <p>No users found.</p>
    {{/each}}
  </div>
  {{#if this.selectedUser}}
    <div class="user-popup">
      <div class="popup-content">
        <button class="close-button" {{on "click" this.closePopup}}>X</button>
        <p>
            <strong>First Name:</strong>
            {{#if this.selectedUser.first_name}}
               <i>{{this.selectedUser.first_name}}</i>
            {{else}}
               <i>No First Name found</i>
            {{/if}}
        </p>
         <p>
            <strong>Last Name:</strong>
            {{#if this.selectedUser.last_name}}
               <i>{{this.selectedUser.last_name}}</i>
            {{else}}
              <i>No Last Name found</i>
            {{/if}}
        </p>
         <p>
            <strong>Phone Number:</strong>
            {{#if this.selectedUser.phone_number}}
               <i>{{this.selectedUser.phone_number}}</i> 
            {{else}}
               <i>No Phone Number found</i>
            {{/if}}
          </p>
          {{!-- <p>
            <strong>Mail:</strong>
            {{#if this.selectedUser.mail}}
              {{this.selectedUser.mail}}
            {{else}}
              <i> No mail found </i>
            {{/if}}
          </p> --}}
      </div>
    </div>
  {{/if}}
</div>
